<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Rochambeau</title>
        <script>
        var player1 = "";
        var url = "";

            document.onkeydown = function(keyboard)
            {
                switch (keyboard.keyCode)
                {
                    case 65:
                        player1 = "Rock";
                        break;

                    case 83:
                        player1 = "Paper";
                        break;

                    case 68:
                        player1 = "Scissors";
                        break;

                };

                url = '/shoot_computer?player1=' + player1;
                if (player1 != "") {
                    window.location = url;
                }
            };

        </script>
    </head>
    <body>
        <div class="container text-center">
            <h1>Play The Computer</h1>
            <hr>
            <p class="lead">
                Choose your action!
            </p>
                <div >
                    <h2>Player 1</h2>
                    <p>
                        a = Rock | s = Paper | d = Scissors
                    </p>
                </div>
            <br>
            <br>
            <div >
                <p>I want to <a href="/">play a friend</a>.</p>
            </div>
        </div>
    </body>
</html>
