<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Rochambeau against the computer</title>
    </head>
    <body>
        <div class="container">
            <h1>So you think you are a match for me.</h1>
            <form action='/shoot_computer' method="get">
                <div class='form-group'>
                    <label for='player1'>Choose your Weapon</label>
                    <select name="player1">
                        <option value="Rock">Rock</option>
                        <option value="Paper">Paper</option>
                        <option value="Scissors">Scissors</option>
                    </select>
                </div>

                <input type="submit">
            </form>
        </div>
    </body>
</html>
