<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Rock-Paper-Scissors Winner</title>
    </head>
    <body>
        <div class="container">
            {% if winner == "Draw" %}
                <h1>It's a Draw!!!!!!!!</h1>
            {% elseif winner == "Player 2" %}
                <h1>Sorry, the computer won.</h1>
            {% else %}
                <h1>Whoo you won!</h1>
            {% endif %}
            <h2> You chose {{ player1 }} and the computer chose {{ player2 }}</h2>

            <a href="/play_computer">Play computer again.</a>
            <a href="/">Try a two player game.</a>
        </div>
    </body>
</html>
