<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Rochambeau</title>
        <script>
        var player1 = "";
        var player2 = "";
        var url = "";

            document.onkeydown = function(keyboard)
            {
                switch (keyboard.keyCode)
                {
                    case 65:
                        player1 = "Rock";
                        break;

                    case 83:
                        player1 = "Paper";
                        break;

                    case 68:
                        player1 = "Scissors";
                        break;

                    case 74:
                        player2 = "Rock";
                        break;

                    case 75:
                        player2 = "Paper";
                        break;

                    case 76:
                        player2 = "Scissors";
                        break;
                };

                url = '/shoot?player1=' + player1 + '&player2=' + player2;
                if (player1 != "" && player2 !="") {
                    window.location = url;
                }
            };

        </script>
    </head>
    <body>
        <div class="container text-center">
            <h1>Two Player Game</h1>
            <hr>
            <p class="lead">
                Players, choose your action!
            </p>
            <div class="row">
                <div class="col-sm-6">
                    <h2>Player 1</h2>
                    <p>
                        a = Rock | s = Paper | d = Scissors
                    </p>
                </div>
                <div class="col-sm-6">
                    <h2>Player 2</h2>
                    <p>
                        j = Rock | k = Paper | l = Scissors
                    </p>
                </div>
            </div>
            <br>
            <br>
            <div >
                <p>I'd rather <a href="/play_computer">play the computer</a>.</p>
            </div>
        </div>
    </body>
</html>
